{% include "common/site-head.njk" %}
<title>Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css">

{% include "common/site-nav.njk" %}
<main>

{% set clubs_as_params %}
  {% for club in clubs %}
    [name=club_{{ club.id}}]
    {% if not loop.last %},{% endif %}
  {% endfor %}
{% endset %}

<section class="info-card controls">
<h1><img src="/static/icons/mountain-icon.svg">Explore</h1>
<form
  class=filters
  hx-get="/all-tiles"
  hx-include="[name=beginner_friendly], [name=when], [name=search], {{ clubs_as_params }}"
  hx-trigger="change"
  hx-target="#trips"
>
  <div id=beginner-friendly-container>
    <label for=beginner-friendly>Beginner Friendly</label>
    <input id=beginner-friendly name=beginner_friendly type=checkbox />
  </div>
  <div id=subclub-container>
    <span>Subclub</span>
    <div class="subclub-dropdown" tabindex="0">
        <div class="subclub-dropdown-btn">
          Select Options
          <img src="/static/icons/dropdown-icon.svg" alt="Expand dropdown" />
        </div>
        <div class="subclub-dropdown-content">
          {% for club in clubs %}
            <label class=subclub>
              <input name="club_{{ club.id }}" type="checkbox" value="true">
              <span>{{ club.name }}</span>
            </label>
          {% endfor %}
        </div>
    </div>
  </div>
  <div id=when-container>
    <label for=when>When</label>
    <select id=when name=when>
      <option value=upcoming>Upcoming</option>
      {# <option value=all>Since the dawn of time</option> #}
      <option value=today>Today</option>
      <option value=tomorrow>Tomorrow</option>
      <option value=next-seven-days>Next seven days</option>
    </select>
  </div>
  <div class=separator></div>
  <div id=search-container>
    <label for=search class=search-label>Search</label>
    <input
      id=search
      name=search
      type=text
      placeholder="Search trips..."
      hx-get="/all-tiles"
      hx-include="[name=beginner_friendly], [name=when], [name=search], {{ clubs_as_params }}"
      hx-trigger="keyup delay:500ms"
      hx-target="#trips"
    >
  </div>
</form>
</section>
{% include "trip/all-tiles.njk" %}
</main>
